@using MVC.Models
@model IEnumerable<Arrangement>

@{
    ViewBag.Title = "Index";

    if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

    List<Arrangement> arrangements = (List<Arrangement>)HttpContext.Current.Application["arrangements"];
    User user = (User)HttpContext.Current.Application["user"];
}

<h2>Arrangements</h2>

@Html.ActionLink("See all arrangements", "OpenArrangementsListPage", "Arrangement")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateOfArrangement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateOfArrangement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterOfArrangement)
        </th>
        <th></th>
    </tr>

@foreach (var item in arrangements)
{
    if (item.StartDateOfArrangement > DateTime.Now && item.IsRemoved == false)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateOfArrangement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfArrangement)
            </td>
            <td>
                <img src="~/Content/Pictures/@item.PosterOfArrangement" width="200" height="100" />
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Arrangement", new { id = item.ID }, "") |

                @if(user != null && user.Role == Role.Tourist)
                {
                    @Html.ActionLink("Make a reservation", "OpenReservationPage", "Reservation", new { id = item.ID }, "")
                }
            </td>
        </tr>
    }
}
</table>

@if (user != null)
{
    if (user.Role == Role.Manager)
    {
        @Html.ActionLink("See manager arrangements", "OpenManagerArrangementsListPage", "Arrangement")
        <br>
        @Html.ActionLink("See manager accommodations", "OpenManagerAccommodationsListPage", "Accommodation")
        <br>
        @Html.ActionLink("See manager accommodation units", "OpenManagerAccommodationUnitsListPage", "AccommodationUnit")
        <br>
        @Html.ActionLink("See manager reservations", "OpenManagerReservationsListPage", "Reservation")
        <br>
        @Html.ActionLink("See manager comments", "OpenManagerCommentsListPage", "Comment")
    }
    else if (user.Role == Role.Admin)
    {
    }
    else
    {
        @Html.ActionLink("See tourist reservations", "OpenTouristReservationsListPage", "Reservation")
    }
}