@using MVC.Models
@model IEnumerable<Arrangement>

@{
    ViewBag.Title = "ManagerArrangemetsList";

    if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

    List<Arrangement> arrangements = (List<Arrangement>)HttpContext.Current.Application["arrangements"];
    User user = (User)HttpContext.Current.Application["user"];
}

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<h2>Manager Arrangemets List</h2>

<p>
    @Html.ActionLink("Create New", "OpenCreatePage", "Arrangement")
</p>
<table class="table sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateOfArrangement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateOfArrangement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterOfArrangement)
        </th>
        <th></th>
    </tr>

@foreach (var item in arrangements)
{
    if (item.IsRemoved == false)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateOfArrangement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfArrangement)
            </td>
            <td>
                <img src="~/Content/Pictures/@item.PosterOfArrangement" width="200" height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "OpenEditPage", "Arrangement", new { id = item.ID }, "") |
                @Html.ActionLink("Delete", "Delete", "Arrangement", new { id = item.ID }, "")
            </td>
        </tr>
    }
}

</table>
